/* Styles applied only in `screen` mode */
@media screen {
  /* Simulate an A4 printable area */
  :root {
    background-color: #333;
  }
  body {
    background-color: #fff;

    /* Center main content */
    margin: 1rem auto;
  }
}

/* Specify that this CV should be printed as an A4 */
@page {
  size: A4;
}

body {
  /* Create an A4 canvas */
  --reference-width: 105ch;
  width: var(--reference-width);
  height: calc(var(--reference-width) * 1.414); /* A4 (1:1.414) */
}

/* Styles applied inside the printable area */
div#layout {
  padding: 1.5rem 2.75rem;
}
