---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div id="layout">
    <header id="top-header">
      <h1>Pablo Cru Delhom</h1>
      <h2>Desarrollador Web Full Stack</h2>
    </header>
  </div>
</BaseLayout>
