---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import TimelineEntryList from "../components/TimelineEntryList.astro";
---

<BaseLayout>
  <div id="layout">
    <Header />

    <main>
      <TimelineEntryList
        collectionKey="workExperience"
        sectionTitle="Experiencia Laboral"
      />

      <TimelineEntryList collectionKey="education" sectionTitle="Educación" />
    </main>
  </div>
</BaseLayout>
