---
import BaseLayout from "../layouts/BaseLayout.astro";
import EducationList from "../components/EducationList.astro";
import Header from "../components/Header.astro";
import WorkExperienceList from "../components/WorkExperienceList.astro";
---

<BaseLayout>
  <div id="layout">
    <Header />

    <main>
      <WorkExperienceList />

      <EducationList />
    </main>
  </div>
</BaseLayout>
