---
import { TimelineCollectionKey } from "../content/config";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import TimelineEntryList from "../components/TimelineEntryList.astro";
---

<BaseLayout>
  <div id="layout">
    <Header />

    <main>
      <TimelineEntryList
        collectionKey={TimelineCollectionKey.WorkExperience}
        sectionTitle="Experiencia Laboral"
      />

      <TimelineEntryList
        collectionKey={TimelineCollectionKey.Education}
        sectionTitle="Educación"
      />
    </main>
  </div>
</BaseLayout>
