---
import { TimelineCollectionKey } from "../content/config";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import ProfessionalProfileList from "../components/ProfessionalProfileList.astro";
import TimelineEntryList from "../components/TimelineEntryList.astro";
---

<BaseLayout>
  <div class="layout">
    <Header />

    <TimelineEntryList
      collectionKey={TimelineCollectionKey.WorkExperience}
      sectionTitle="Experiencia Laboral"
    />

    <TimelineEntryList
      collectionKey={TimelineCollectionKey.AcademicBackground}
      sectionTitle="Formación Académica"
    />
  </div>

  <div class="layout">
    <ProfessionalProfileList />
  </div>
</BaseLayout>
