---
import LinkButton, { LinkButtonTheme } from "./LinkButton.astro";
---

<aside id="contact-info-obfuscated" class="alert alert-warning">
  <p>La información de contacto se ha ocultado por motivos de privacidad.</p>
  <p>
    Si quieres ponerte en contacto conmigo, que te parece si <LinkButton
      link="https://www.linkedin.com/in/pablocrudelhom/"
      theme={LinkButtonTheme.LinkedIn}>Conectamos en LinkedIn</LinkButton
    >
  </p>
</aside>
