---
import Alert, { AlertLevel } from "./Alert.astro";
import LinkButton, { LinkButtonTheme } from "./LinkButton.astro";
---

<Alert id="contact-info-obfuscated" level={AlertLevel.Warning}>
  <p>La información de contacto se ha ocultado por motivos de privacidad.</p>
  <p>
    Si quieres ponerte en contacto conmigo, que te parece si <LinkButton
      link="https://www.linkedin.com/in/pablocrudelhom/"
      theme={LinkButtonTheme.LinkedIn}>Conectamos en LinkedIn</LinkButton
    >
  </p>
</Alert>
