---
const phoneNumber: string = import.meta.env.PHONE_NUMBER || "*** *** ***";

const contactEmail: string = import.meta.env.CONTACT_EMAIL || "****@****";
---

<header id="top-header">
  <h1>Pablo Cru Delhom</h1>
  <h2>Desarrollador Web Full Stack</h2>
  <ul id="contact-info" class="two-columns">
    <li class="icon icon-phone">
      <span>{phoneNumber}</span>
    </li>
    <li class="icon icon-github">
      <a href="https://github.com/pablocru">github.com/pablocru</a>
    </li>
    <li class="icon icon-email">
      {
        import.meta.env.CONTACT_EMAIL ? (
          <a href={"mailto:" + contactEmail}>{contactEmail}</a>
        ) : (
          <span>{contactEmail}</span>
        )
      }
    </li>
    <li class="icon icon-location">
      <span>Valencia, España</span>
    </li>
  </ul>
</header>
