---
import { getCollection } from "astro:content";
import { TimelineCollectionKey } from "../content/config";
import AcademicBackgroundEntry from "./AcademicBackgroundEntry.astro";
import WorkExperienceEntry from "./WorkExperienceEntry.astro";

interface Props {
  collectionKey: TimelineCollectionKey;
  sectionTitle: string;
}

const { collectionKey, sectionTitle } = Astro.props;

/** Sorted from most recent to oldest */
const collectionList = (await getCollection(collectionKey)).sort(
  (a, b) => b.data.startingDate.getTime() - a.data.startingDate.getTime(),
);
---

<section id={collectionKey}>
  <h2>{sectionTitle}</h2>

  {
    collectionList.map((entry) => {
      switch (entry.collection) {
        case TimelineCollectionKey.AcademicBackground:
          return <AcademicBackgroundEntry {entry} />;
        case TimelineCollectionKey.WorkExperience:
          return <WorkExperienceEntry {entry} />;
        default:
          return false;
      }
    })
  }
</section>
