---
import { getCollection } from "astro:content";
import WorkExperienceEntry from "./WorkExperienceEntry.astro";

/** Work experience sorted from most recent to oldest */
const workExperienceList = (await getCollection("workExperience")).sort(
  (a, b) => b.data.startingDate.getTime() - a.data.startingDate.getTime(),
);
---

<section id="work-experience">
  <h2>Experiencia Laboral</h2>

  {workExperienceList.map((entry) => <WorkExperienceEntry {entry} />)}
</section>
